<!DOCTYPE html>
<html><head>
<title>日本漫遊：安房鋸山</title>
<meta charset="utf-8">
<meta name="X-UA-Compatible" content="IE=edge">
<meta name="google-site-verification" content>
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
<meta content="telephone=no" name="format-detection">

<meta name="keywords" content="高輪入口, 迪士尼, 襯線體, 希爾頓, 千葉, 房總半島, 令制國, 安房國, 上總國, 阿波國, 古語拾遺, 忌部氏, 東國, 訓讀, 玉前神社, 濱金谷, 鋸山, 乾坤山日本寺, 房州石, 廢佛毀釋, 四獅子像初轉法輪石柱, 菩提伽倻, 久里濱, 日本漫遊">
<meta name="renderer" content="webkit">
<meta name="theme-color" content="#ffffff">
<link rel="amphtml" href="https://byvoid.com/zht/blog/jp-roaming-aha-nokogiri/amp.html">

    <!-- <link rel="alternate" hreflang="zh-Hans" href="https://byvoid.com/zhs/blog/jp-roaming-aha-nokogiri/"> -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-11970228-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-11970228-1');
</script>
<script src="/js/jquery.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/smooth-scroll.polyfills.min.js"></script>
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css">
<script src="/js/vue.min.js"></script>
<link rel="stylesheet" href="/css/zht.min.6b49e1966948d45bf2714d53645c3150c5aa66a005749cc7b1bb73ffb77d9977.css" media="screen">
<script src="/js/table.js"></script>
<script src="/js/toc.js"></script>
<style>

    @font-face {
      font-family: 'iconfont';  /* project id 2235655 */
      src: url('//at.alicdn.com/t/font_2235655_93t1k6j0tyg.eot');
      src: url('//at.alicdn.com/t/font_2235655_93t1k6j0tyg.eot?#iefix') format('embedded-opentype'),
      url('//at.alicdn.com/t/font_2235655_93t1k6j0tyg.woff2') format('woff2'),
      url('//at.alicdn.com/t/font_2235655_93t1k6j0tyg.woff') format('woff'),
      url('//at.alicdn.com/t/font_2235655_93t1k6j0tyg.ttf') format('truetype'),
      url('//at.alicdn.com/t/font_2235655_93t1k6j0tyg.svg#iconfont') format('svg');
      }
    .iconfont{
      font-family:"iconfont" !important;
      font-size:16px;font-style:normal;
      -webkit-font-smoothing: antialiased;
      -webkit-text-stroke-width: 0.2px;
      -moz-osx-font-smoothing: grayscale;}
      a{
        text-decoration: none;
      }
      .nav-link-item a i{
        font-size: 23px;
      }
  </style>
</head><body>
    	<div id="app">
    
</div><div ref="extraContainer" class="extra-container">
    <div class="toc animated-visibility">
	<div class="toc-content">

		<center>目錄</center>
							<ul>
						
							<ul>
						
						
								<li>
				 					<a href="#%e9%ab%98%e8%bc%aa%e5%85%a5%e5%8f%a3%e5%92%8c%e9%96%89%e5%9c%92%e7%9a%84%e8%bf%aa%e5%a3%ab%e5%b0%bc" v-on:click="closeDrawer" id="高輪入口和閉園的迪士尼-nav">
										 高輪入口和閉園的迪士尼
									</a>
								</li>
						
							</ul>
						
							</ul>
							<ul>
						
							<ul>
						
						
								<li>
				 					<a href="#%e6%88%bf%e7%b8%bd%e5%8d%8a%e5%b3%b6%e4%b9%8b%e9%8b%b8%e5%b1%b1" v-on:click="closeDrawer" id="房總半島之鋸山-nav">
										 房總半島之鋸山
									</a>
								</li>
						
							</ul>
						
							</ul>
	</div>
</div>
    <div class="pagination">
        <a id="globalBackToTop" class="pagination-action animated-visibility" href="#top" :class="{ invisible: scrollY == 0 }">
            <i class="material-icons iconfont">&#xe611;</i>
        </a>
    </div>
</div>

<div id="content">
<div ref="streamContainer" class="stream-container">
    <div class="post-list-container post-list-container-shadow">
        <div class="post">
            <div class="post-head-wrapper" style="background-image: url('images/nokogiri-buddha.jpeg')">
                <div class="post-title">
                    日本漫遊：安房鋸山
                    
                    <div class="post-meta">
                        
                        <time itemprop="datePublished">
                            2020-07-15 23:42
                        </time>
                        

                        
                            <i class="material-icons" style>folder</i>
                                <a href="/zht/categories/">[世界之旅]</a>
                                &nbsp;
                                        
                    <i class="material-icons">language</i>
                    
                        <a href="https://byvoid.com/zhs/blog/jp-roaming-aha-nokogiri/">簡體版</a>
                    

                </div>
                </div>
            </div>

            <div class="post-body-wrapper">
                <div class="post-body">
                    
                    <p>2020年3月14日，東京的櫻花季即將到來，這一天卻氣溫驟降，還下起了大雨。本來很早之前就預訂了週末去迪士尼，甚至都用希爾頓點數兌換了東京灣希爾頓的住宿了，但遇上了閉園。於是我就改道前往房總半島，登上了鋸山，最後又乘渡輪渡過東京灣。</p>
<p><a href="https://byvtrips.byvoid.com/viewer/#/u/byvoid?journey=2020-03-14-Chiba"><img src="images/byvtrips-map.jpeg" width="1600" alt="BYVTrips"></a></p>
<h2 id="高輪入口和閉園的迪士尼">高輪入口和閉園的迪士尼</h2>
<p>這是東京山手線的新站「高輪入口（高輪ゲートウェイ）」開業第一天。雖然由於疫情的考慮開業慶典取消，但車站還是聚集了不少人來觀看。我從澀谷站出發，使用「指定席券賣機」專門買了單程紙質車票留念。車站的設計明亮通透，有日本現代設計感。</p>
<p><img src="images/takanawa-gateway-1.jpeg" alt="高輪入口" width="1613"></p>
<p>實際上車站裏人比我想像的少一些，畢竟可能還是因爲天氣惡劣，而且病毒確實讓人不安。雖然日本並沒有宣佈全國性的緊急狀態，但是東日本旅客鐵道已經開始「自肅」，取消了原本計劃的開業儀式。車站外倒是排隊購票的人不少，可能都是爲了在第一天買上一張從新站出發的票留念吧。我並不能理解爲什麼這麼多人願意在雨中排上3個小時，就爲了開業第一天買一張印有該站出發的車票。難道像我一樣從別的站買一張到這裏的單程票不好嗎？</p>
<p><img src="images/takanawa-gateway-2.jpeg" alt="高輪入口排隊購票" width="1613"></p>
<p>說到這個站假名漢字混合的名字，真的是有些爭議。日本人也不習慣這樣的漢字和片假名混合的站，尤其還是在日本幾乎最古老的鐵路山手線上。不喜歡的理由很多，在Google地圖的評論上就可以看到各種負面評價。站名過於長還給印刷排版帶來不便，與山手線上其他站名格格不入。雖然日本大衆普遍覺得夾雜片假名書寫的英文很「御灑落<sup>おしゃれ</sup>（時髦）」，但也並不可以不分場合使用。在十分傳統的正式場合，還是以漢字爲本位。</p>
<p>另一個不尋常的地方是入口牌匾上的襯線體文字，這也和其他車站的風格很不一樣。實際上不僅僅是車站，日本在招牌上的文字一般都是無襯線體。這個設計只能說算是，別具一格吧。</p>
<p><img src="images/takanawa-gateway-3.jpeg" alt="襯線體" width="1613"></p>
<p>儘管不在大衆的舒適區內，高輪入口招牌整體的設計還是過關的。有人據此改圖揶揄中國鐵路的審美水平。</p>
<p><img src="images/gaolunmen.jpeg" alt width="705"></p>
<p>高輪站內部空間設計很好，大家還是普遍給予好評的。</p>
<p>離開高輪入口，我去了京葉線上的舞濱。之前預訂了希爾頓東京灣住宿，本來想沉浸式體驗一下的。但不巧的是遇到迪士尼樂園停業的開始，我在東京兩年後第一次去東京迪士尼的計劃就這麼流產了。不過，也算是正好有機會看看空無一人的迪士尼週邊。京葉線到舞濱後，可以換上迪士尼環線，果然幾乎是空無一人。到車上之後倒是發現還有幾個人，不知道是專門來觀景的，還是不知道當天迪士尼閉園了。</p>
<p><img src="images/disney.jpeg" alt="迪士尼線" width="1613"></p>
<p>賓館內雖然人不多，但有兩場「御兩家結婚披露宴御席」。下午時分，氣溫竟然降到了零度，天上飄起了雪花。東京的三月中旬極少有這樣的天氣。</p>
<h2 id="房總半島之鋸山">房總半島之鋸山</h2>
<p>一早醒來，烏雲散去，陽光射入窗內，窗外的海景格外明豔。</p>
<p><img src="images/hilton.jpeg" alt="希爾頓東京灣" width="1613"></p>
<p>本日的計劃是繞千葉半島旅行，千葉半島離東京只是一水之隔，中央還有跨海大橋。我在東京生活兩年，已經去過了全部的47個都府道縣，卻竟然也沒有來過近在咫尺的南千葉。雖然只與大東京有一水之隔，南千葉的人口密度卻相當低。日本在泡沫時代修建了東京灣跨海大橋，以期對岸的發展，可惜沒有任何效果，南千葉的人口還在繼續減少。這讓個現象我想起日本修築新幹線，本來是期望改善跟東京的交通以後能夠活化地方經濟，實際上確實加強了東京對地方的虹吸作用。</p>
<p>千葉半島也叫房總半島，取名自安房、上總兩令制國，其中安房是半島南部，上總是半島北部。</p>
<p>安房國與四國島的阿波國日語訓讀完全一致（あはのくに）。根據平安時代神道教著作《古語拾遺》的說法，阿波國忌部氏乘黑潮來到此地向「東國<sup>あづまのくに</sup>」開疆，根據其故地阿波將此地命名爲同音的「あは」，又選擇「安房」二字來訓讀，取其字義，所以安房與阿波同音。不過，這只是爲廣泛流傳的說法其一。奈良時代以來設立的令制國地名訓讀系統非常複雜，原因是當時日本引入漢字不久，規則還相當隨意，日語語音本身也和後世不同，再加上後世又總會有穿鑿附會的說法，以至於研究如同霧裏看花。</p>
<p>我的第一個目的地就是上總國一之宮「玉前神社」。一之宮與國分寺不同，並不是中央王權指定的，而是令制國內最有歷史，被公認賦予權威的神社。一之宮並不一定規模很大，比如這個玉前神社就不算大。</p>
<p><img src="images/kadusa-ichinomiya.jpeg" alt="玉前神社" width="1613"></p>
<p>簡單看過一之宮後，我繼續乘外房線列車一路直達安房鴨川站，然後在這裏換了內房線。外房和內房指的是房總半島相對東京灣的內外，鐵路線以安房鴨川爲界。在火車上慢慢開到了濱金谷站，我從這裏下車去我的下一個目的地：鋸山。濱金谷車站臨山靠海，站在天橋上面看線路，風景很不錯。這當然排不上日本最美的車站，不過由於天氣晴朗，還是令人心曠神怡。</p>
<p><img src="images/hamakanaya.jpeg" alt="濱金谷" width="1613"></p>
<p>鋸山以江戶時代的採石場聞名，山上還有一座著名的寺院，名爲「乾坤山日本寺」。以國號「日本」爲寺名並不多見，一定來頭不小。鋸山有登山索道，入口距離火車站步行大概要15分鐘。走到入口我纔發現索道竟然大排長龍，遠遠超出了預料。由於人多，經營方直接將索道連續運轉了，不再按照時刻表發車，所以還是比想象中要快一些。</p>
<p><img src="images/nokogiri-ropeway.jpeg" alt="鋸山索道" width="1613"></p>
<p>乘纜車到山上之後，眼前就是一個瞭望臺，可以總覽東京灣海景。瞭望臺旁邊還有一個小型的資料室，裏面展出了一些鋸山的歷史資料。</p>
<p><img src="images/nokogiri-view.jpeg" alt="鋸山展望東京灣" width="1613"></p>
<p>瞭望臺距離山頂還有一段距離，大約二十多分鐘可以到山頂。鋸山最著名之處就是山上的採石場遺蹟（石切場跡）。因爲山石是凝灰岩，十分適合用作建築材料，所以從江戶時代大名就開始在這裏採石。採石場遺蹟宛如鋸齒，因而得名鋸山。鋸山位於安房國，因此鋸山所產的石材又有「房州石」之名。山上大量的採石場一直到昭和末年纔停用，期間所採的石材被廣泛用在東京各處，如早稻田大學、靖國神社，還有<a href="https://ja.wikipedia.org/wiki/%E6%9D%B1%E4%BA%AC%E6%B9%BE%E8%A6%81%E5%A1%9E">東京灣要塞</a>。</p>
<p>行走在山間，可以清洗地看到巖壁上採石的痕跡。</p>
<p><img src="images/nokogiri-1.jpeg" alt="鋸山" width="1613"></p>
<p><img src="images/nokogiri-2.jpeg" alt="鋸山" width="1613"></p>
<p>山頂有幾個突出觀景臺，從這些觀景臺可以看到豎直切開的巖壁。從這麼高的地方取石材運送下山真是一個規模不小的工程。</p>
<p><img src="images/nokogiri-viewpoint.jpeg" alt="鋸山山頂" width="1613"></p>
<p>從山頂下山，有另一條道路可以通向日本寺。日本寺始建於奈良時代，歷經千年一直是安房國的佛教勝地。然而在1939年，大部分建築毀於一場大火，跟當時「廢佛毀釋」運動不無關聯。寺內中心有一座1783年雕刻的石製大佛。大佛在幾十年前重修過，現在看起來維護十分良好。</p>
<p><img src="images/nokogiri-buddha.jpeg" alt="日本寺大佛" width="1613"></p>
<p>大佛附近還有一棵1989年植下的「聖菩提樹」，現在已經被移栽到書院。這棵樹是當時印度政府特別從佛陀大徹大悟之地菩提伽倻移植過來的，旁邊還有一座「四獅子像初轉法輪石柱」，以表示日印友好。</p>
<p><img src="images/nokogiri-indo-japanese.jpeg" alt="四獅子像初轉法輪石柱" width="1210"></p>
<p>看完日本寺之後，要原路返回山頂纔能下山。下山前看到巖壁觀景臺人流非但沒有減少，反而排起來了更長的隊伍。</p>
<p><img src="images/nokogiri-queue.jpeg" alt="山頂排隊" width="1613"></p>
<p>我從後山徒步下山，大概用時40多分鐘纔走到海港邊上。回程我選擇坐船橫渡東京灣，欣賞海上風景。</p>
<p><img src="images/tokyo-bay-ferry-chiba.jpeg" alt="東京灣渡輪" width="1613"></p>
<p>大概半個小時後，船到達了對岸的橫須賀久里濱，此時夕陽已經開始漸漸西沉。我坐上了京急電車，返回東京，一天的旅行就此結束。</p>
<p><img src="images/tokyo-bay-ferry-yokosuka.jpeg" alt="久里濱" width="1613"></p>
<p><small><a href="https://byvoid.com/zht/series/%E6%97%A5%E6%9C%AC%E6%BC%AB%E9%81%8A/">日本漫遊</a>系列文章</small></p>

                    
                    <hr width="100%" id="EOF">
                    <p style="color:#777;">上次修改時間 2020-07-15</p>
                    
                </div>
                
                    <div class="post-related">


    <h3>相關日誌</h3>
    <ul>
	   
	     <li>
          <a href="/zht/blog/jp-roaming-kafi-idu/">日本漫遊：甲斐與伊豆</a>
        </li>
	    
	     <li>
          <a href="/zht/blog/jp-roaming-kibi-kansai/">日本漫遊：吉備與關西</a>
        </li>
	    
	     <li>
          <a href="/zht/blog/jp-roaming-matsushima-hokuriku/">日本漫遊：松島與北陸</a>
        </li>
	    
	     <li>
          <a href="/zht/blog/travel-summary-2019/">2019年旅行總結</a>
        </li>
	    
	     <li>
          <a href="/zht/blog/frozen-leftist-symbols/">冰雪奇緣中的左翼符號</a>
        </li>
	    
	     <li>
          <a href="/zht/blog/travel-summary-2018/">2018年旅行總結</a>
        </li>
	    
	     <li>
          <a href="/zht/blog/two-cities-on-us-mexican-border/">美墨邊境雙城記：蒂華納、華雷斯城</a>
        </li>
	    
	     <li>
          <a href="/zht/blog/travel-summary-2016/">2016年旅行總結</a>
        </li>
	    
	     <li>
          <a href="/zht/blog/travel-summary-2017/">2017年旅行總結</a>
        </li>
	    
	     <li>
          <a href="/zht/blog/switzerland-dwelling-notes-5-paradise-on-earth/">瑞士旅居記（五）：人間天堂</a>
        </li>
	    
    </ul>

</div>
                
            </div>

            <nav class="post-pagination">

                
                <a class="newer-posts">
                    下一篇<br>No newer posts.
                </a>
                
                
                
                <a class="older-posts" href="https://byvoid.com/zht/blog/jp-roaming-matsushima-hokuriku/">
                    上一篇<br>日本漫遊：松島與北陸
                </a>
                
            </nav>
            <div class="post-comment-wrapper">
                
<div class="post-comment-wrapper">
<div id="disqus_thread"></div>
<script type="text/javascript">
var disqus_shortname = 'byvoid';
var disqus_identifier = '6hqdquvqa2';
(function() {
  if (!disqus_identifier)
    return;
  var disqus_url = 'https:\/\/byvoid.com/\/zht\/blog\/jp-roaming-aha-nokogiri\/';
  var disqus_title = '日本漫遊：安房鋸山';
  var disqus_developer = 0;
  if (window.location.hostname == "localhost")
    disqus_developer = 1;
  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
  dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>

</div>

            </div>
            <div class="post-footer-tags">
                
                    <i class="material-icons">label</i>
                    
                        <a href="/zht/tags/%E9%AB%98%E8%BC%AA%E5%85%A5%E5%8F%A3">高輪入口</a>
                        &nbsp;
                    
                        <a href="/zht/tags/%E8%BF%AA%E5%A3%AB%E5%B0%BC">迪士尼</a>
                        &nbsp;
                    
                        <a href="/zht/tags/%E8%A5%AF%E7%B7%9A%E9%AB%94">襯線體</a>
                        &nbsp;
                    
                        <a href="/zht/tags/%E5%B8%8C%E7%88%BE%E9%A0%93">希爾頓</a>
                        &nbsp;
                    
                        <a href="/zht/tags/%E5%8D%83%E8%91%89">千葉</a>
                        &nbsp;
                    
                        <a href="/zht/tags/%E6%88%BF%E7%B8%BD%E5%8D%8A%E5%B3%B6">房總半島</a>
                        &nbsp;
                    
                        <a href="/zht/tags/%E4%BB%A4%E5%88%B6%E5%9C%8B">令制國</a>
                        &nbsp;
                    
                        <a href="/zht/tags/%E5%AE%89%E6%88%BF%E5%9C%8B">安房國</a>
                        &nbsp;
                    
                        <a href="/zht/tags/%E4%B8%8A%E7%B8%BD%E5%9C%8B">上總國</a>
                        &nbsp;
                    
                        <a href="/zht/tags/%E9%98%BF%E6%B3%A2%E5%9C%8B">阿波國</a>
                        &nbsp;
                    
                        <a href="/zht/tags/%E5%8F%A4%E8%AA%9E%E6%8B%BE%E9%81%BA">古語拾遺</a>
                        &nbsp;
                    
                        <a href="/zht/tags/%E5%BF%8C%E9%83%A8%E6%B0%8F">忌部氏</a>
                        &nbsp;
                    
                        <a href="/zht/tags/%E6%9D%B1%E5%9C%8B">東國</a>
                        &nbsp;
                    
                        <a href="/zht/tags/%E8%A8%93%E8%AE%80">訓讀</a>
                        &nbsp;
                    
                        <a href="/zht/tags/%E7%8E%89%E5%89%8D%E7%A5%9E%E7%A4%BE">玉前神社</a>
                        &nbsp;
                    
                        <a href="/zht/tags/%E6%BF%B1%E9%87%91%E8%B0%B7">濱金谷</a>
                        &nbsp;
                    
                        <a href="/zht/tags/%E9%8B%B8%E5%B1%B1">鋸山</a>
                        &nbsp;
                    
                        <a href="/zht/tags/%E4%B9%BE%E5%9D%A4%E5%B1%B1%E6%97%A5%E6%9C%AC%E5%AF%BA">乾坤山日本寺</a>
                        &nbsp;
                    
                        <a href="/zht/tags/%E6%88%BF%E5%B7%9E%E7%9F%B3">房州石</a>
                        &nbsp;
                    
                        <a href="/zht/tags/%E5%BB%A2%E4%BD%9B%E6%AF%80%E9%87%8B">廢佛毀釋</a>
                        &nbsp;
                    
                        <a href="/zht/tags/%E5%9B%9B%E7%8D%85%E5%AD%90%E5%83%8F%E5%88%9D%E8%BD%89%E6%B3%95%E8%BC%AA%E7%9F%B3%E6%9F%B1">四獅子像初轉法輪石柱</a>
                        &nbsp;
                    
                        <a href="/zht/tags/%E8%8F%A9%E6%8F%90%E4%BC%BD%E5%80%BB">菩提伽倻</a>
                        &nbsp;
                    
                        <a href="/zht/tags/%E4%B9%85%E9%87%8C%E6%BF%B1">久里濱</a>
                        &nbsp;
                    
                        <a href="/zht/tags/%E6%97%A5%E6%9C%AC%E6%BC%AB%E9%81%8A">日本漫遊</a>
                        &nbsp;
                    
                
            </div>
        </div>
    </div>
</div>

            </div><div id="single-column-footer"><div id="theme-info" style="display: none;">
	
	Theme modified from <a href="https://github.com/amazingrise/hugo-theme-diary" target="_blank" rel="noreferrer noopener">Diary</a> by <a href="https://amazingrise.net" target="_blank" rel="noreferrer noopener">Rise</a>
	<br>
	Ported from <a href="https://mak1t0.cc/" target="_blank" rel="noreferrer noopener">Makito</a>'s <a href="https://github.com/SumiMakito/hexo-theme-journal/" target="_blank" rel="noreferrer noopener">Journal.</a> <br>
	Generated by <a href="https://gohugo.io/" target="_blank">Hugo</a>
	<br><br>
	
</div>
&copy;
	
	2007-2020 BYVoid
	 (<a href="#" onclick="document.getElementById('theme-info').style=''">Diary</a>)</div>
    	</div>
    <script src="/js/byvoid/journal.js"></script>
    </body>
</html>
