<!DOCTYPE html>
<html><head>
	<meta name="generator" content="Hugo 0.73.0">
<title>城外三石(Ricemonster)的网志</title>
<meta charset="utf-8">
<meta name="X-UA-Compatible" content="IE=edge">
<meta name="google-site-verification" content>
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
<meta content="telephone=no" name="format-detection">
<meta name="renderer" content="webkit">
<meta name="theme-color" content="#ffffff">
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-11970228-1"></script>

<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-11970228-1');
</script>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/popper.js/2.5.4/cjs/popper-base.min.js"></script>
<link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap-grid.min.css" rel="stylesheet">
<script src="https://cdn.bootcdn.net/ajax/libs/js-polyfills/0.1.43/polyfill.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/stylesheets/zht.min.6b49e1966948d45bf2714d53645c3150c5aa66a005749cc7b1bb73ffb77d9977.css" media="screen">
<style>
  .toc{
    display: none !important;
  }
  @font-face {
  font-family: 'iconfont';  /* project id 2235655 */
  src: url('//at.alicdn.com/t/font_2235655_76262c40ut.eot');
  src: url('//at.alicdn.com/t/font_2235655_76262c40ut.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2235655_76262c40ut.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2235655_76262c40ut.woff') format('woff'),
  url('//at.alicdn.com/t/font_2235655_76262c40ut.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2235655_76262c40ut.svg#iconfont') format('svg');
}
  .iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
    a{
      text-decoration: none;
    }
    .nav-link-item a i{
      font-size: 23px;
    }
</style>
</head>
<body>
  <div id="app">
    <!-- PC端 -->
    <!-- 左边栏 -->
    <div ref="sideContainer" class="side-container">
    <a class="a-block nav-head active" href="/zht">
        <div class="nav-title">
            城外三石
        </div>
        <div class="nav-subtitle">
            我们都有美好的未来
        </div>
    </a>
    <div class="nav-link-list">
        <a class="a-block nav-link-item false" href="/zht/blog/">
            网志
        </a>
        <a class="a-block nav-link-item false" href="/zht/categories/">
            分类
        </a>
        <a class="a-block nav-link-item false" href="/zht/tags/">
            标签
        </a>
        <a class="a-block nav-link-item false" href="/zht/series/">
            系列
        </a>
        <a class="a-block nav-link-item false" href="/zht/blog/archive">
            归档
        </a>
        <a class="a-block nav-link-item false" href="/zht/about">
            关于
        </a>
        <div class="nav-link-item">
           <a href="/"><i class="iconfont" target="_blank">&#xe62e;</i></a>
           <a href="https://github.com/ricemonster" target="_blank"><i class="iconfont">&#xe677;</i></a>
           <a href="/"><i class="iconfont" target="_blank">&#xe62f;</i></a>
        </div>
    </div>
    <div class="nav-footer">
      &copy;2020-2021 Ricemonster
    </div>
  </div>
  <!-- 右边栏 -->
  <div ref="extraContainer" class="extra-container">
    <div class="gcse-search"></div>
    <div class="pagination">
        <a id="globalBackToTop" class="pagination-action animated-visibility" href="#top" :class="{ invisible: scrollY == 0 }">
            <i class="material-icons iconfont">
              &#xe678;
            </i>
        </a>
        <div class="pagination-indicator">
            <span style="text-align: center">
                1<br><div style="display: inline-block; transform: rotate(-28deg)">-</div><br>47
            </span>
        </div>
        <a class="pagination-action" href="/zht/page/2/">
            <i class="material-icons iconfont">
              &#xe605;
            </i>
        </a>
          </div>
  </div>

<!-- 施工中 -->
<!-- 移动版 -->
<div class="single-column-drawer-container" ref="drawer" v-bind:class="{ 'single-column-drawer-container-active': isDrawerOpen }">
    <div class="drawer-content">
        <div class="drawer-menu">
            
            <script async src="js/cse.js"></script>
            <div class="gcse-search" mobileLayout="true"></div>
            
            
            
                
                
                
                
                
                <a class="a-block drawer-menu-item false" href="/zht/blog/">
                    網誌
                </a>
                
            
                
                
                
                
                
                <a class="a-block drawer-menu-item false" href="/zht/categories/">
                    分類
                </a>
                
            
                
                
                
                
                
                <a class="a-block drawer-menu-item false" href="/zht/tags/">
                    標籤
                </a>
                
            
                
                
                
                
                
                <a class="a-block drawer-menu-item false" href="/zht/series/">
                    系列
                </a>
                
            
                
                
                
                
                
                <a class="a-block drawer-menu-item false" href="/zht/blog/archive">
                    歸檔
                </a>
                
            
                
                
                
                
                
                <a class="a-block drawer-menu-item false" href="/zht/about">
                    關於
                </a>
                
            
        
            <div class="a-block drawer-menu-item false">
    <i class="material-icons">language</i>
    
        <a href="https://byvoid.com/zhs/">簡體版</a>
    
        <a href="https://byvoid.com/en/">English</a>
    

</div>
            <div class="a-block drawer-menu-item false"><a href="https://github.com/BYVoid" target="_blank"><i title="Github" class="fab fa-github"></i></a>
<a href="https://t.me/byvoidcom" target="_blank"><i title="Telegram" class="fab fa-telegram"></i></a>
<a href="https://www.facebook.com/byvoid" target="_blank"><i title="Facebook" class="fab fa-facebook"></i></a>
<a href="https://twitter.com/byvoid" target="_blank"><i title="Twitter" class="fab fa-twitter"></i></a>
<a href="https://www.instagram.com/byvoid/" target="_blank"><i title="Instagram" class="fab fa-instagram"></i></a>
<a href="https://www.linkedin.com/in/byvoid" target="_blank"><i title="LinkedIn" class="fab fa-linkedin"></i></a>
<a href="http://weibo.com/byvoid" target="_blank"><i title="Weibo" class="fab fa-weibo"></i></a>
<a href="https://byvoid.com/zht/feed.xml" target="_blank"><i title="Feed" class="fas fa-rss"></i></a>
</div>
            
        </div>
    </div>
</div>
<transition name="fade">
    <div v-bind:class="{ 'single-column-drawer-mask': mounted }" v-if="isDrawerOpen" v-on:click="toggleDrawer"></div>
</transition>
<nav ref="navBar" class="navbar sticky-top navbar-light single-column-nav-container">
    <div ref="navBackground" class="nav-background"></div>
    <div class="container container-narrow nav-content">
        <button id="nav_dropdown_btn" class="nav-dropdown-toggle" type="button" v-on:click="toggleDrawer">
            <i class="material-icons">
                menu
            </i>
        </button>
        <a ref="navTitle" class="navbar-brand" href="https://byvoid.com">
            Beyond the Void
        </a>
        
    </div>
</nav>
<!-- 移动版边界 - 这代码排序太垃圾了不想写 -->





<div class="single-column-header-container" ref="pageHead" v-bind:style="{ transform: 'translateZ(0px) translateY('+.3*scrollY+'px)', opacity: 1-navOpacity }">
    <a href="https://byvoid.com">
        <div class="single-column-header-title">Beyond the Void</div>
        
        <div class="single-column-header-subtitle">BYVoid</div>
        

    </a>
</div>
            <div id="content">

<div ref="streamContainer" class="stream-container">
    <div class="post-list-container post-list-container-no-background">
        
            
            <a href="https://byvoid.com/zht/blog/jp-roaming-aha-nokogiri/" class="a-block">
                <div class="post-item-wrapper">
                    <div class="post-item post-item-no-divider">
                        <div class="post-item-info-wrapper">
                            <div class="post-item-title">
                                手写一个深拷贝
                            </div>
                            <div class="post-item-summary">
                                
                            </div>
                            <div class="post-item-meta" style="font-style:oblique">
                                2020-07-15
                            </div>
                        </div>
                        
                        
                            <div class="post-item-image-wrapper">
                            <div class="post-item-image" style="background-image: url('https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=1026456942,4253543837&fm=11&gp=0.jpg')"></div>
                            </div>
                        
                    </div>
                </div>
            </a>
          </div>
        </div>
      </div>

<div class="pagination">
    
    <a class="pagination-action" style="opacity:0">
    
        <i class="material-icons pagination-action-icon">
            chevron_left
        </i>
    </a>

        <div class="pagination-indicator">
            <span>1/47</span>
        </div>

        
        <a class="pagination-action" href="/zht/page/2/" style="opacity:1">
        
                <i class="material-icons pagination-action-icon">
                    chevron_right
                </i>
            </a>
</div>


<div id="single-column-footer"><div id="theme-info" style="display: none;">
	
	Theme modified from <a href="https://github.com/amazingrise/hugo-theme-diary" target="_blank" rel="noreferrer noopener">Diary</a> by <a href="https://amazingrise.net" target="_blank" rel="noreferrer noopener">Rise</a>
	<br>
	Ported from <a href="https://mak1t0.cc/" target="_blank" rel="noreferrer noopener">Makito</a>'s <a href="https://github.com/SumiMakito/hexo-theme-journal/" target="_blank" rel="noreferrer noopener">Journal.</a> <br>
	Generated by <a href="https://gohugo.io/" target="_blank">Hugo</a>
	<br><br>
	
</div>
&copy;
	
	2007-2020 BYVoid
	 (<a href="#" onclick="document.getElementById('theme-info').style=''">Diary</a>)</div>
    	</div>
    <script src="js/journal.js"></script>
  </body>
</html>
