<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/left.css' />
    <link rel='stylesheet' href='/stylesheets/normalize.css' />
    <title>Document</title>
</head>
<body>
    <div id="left-container">
        <a href="/" >
            <div id="logo" class="name" style="display: flex;flex-direction: row;justify-content: flex-end;align-items: center;">
                <div style="display: flex;flex-direction: column;font-size: 30px;
                line-height: 42px;padding-right: 30px;">
                    <div style="display: flex;justify-content: flex-end;margin-right: 10px;">城外三石</div> 
                    <div style="margin-top: 8px;
                    font-size: 18px;">加油学，努力干，我们都有美好的未来！</div>
                </div>
            </div>
        </a>
        <ul class="itemList" style="">
            <li><a href="">网志</a></li>
            <li><a href="">分类</a></li>
            <li><a href="">标签</a></li>
            <li><a href="">系列</a></li>
            <li>
                <ul class="iconList">
                    <!-- github -->
                    <a href="https://github.com/ricemonster" target="view_window"><i class="iconfont">&#xe677;</i></a>
                    <!-- 微信 -->
                    <i class="iconfont">&#xe62e;</i>
                    <!-- qq -->
                    <i class="iconfont">&#xe62f;</i>
                </ul>
            </li>
        </ul>
        <div style="">© 2007-2020 BYVoid (Diary)</div>
    </div>
<script crossorigin="anonymous" integrity="sha512-WNLxfP/8cVYL9sj8Jnp6et0BkubLP31jhTG9vhL/F5uEZmg5wEzKoXp1kJslzPQWwPT1eyMiSxlKCgzHLOTOTQ==" src="https://lib.baomitu.com/jquery/3.5.1/jquery.js"></script>
<script src="/javascripts/left.js"></script>
</body>
</html>