body {
    background: #FCFCFC;
}

#box {
    width: 100vw;
    overflow: auto;
    display: flex;
    flex-direction: row;
}

.boxDiv {
    position: fixed;
    left: 480px;
    overflow: auto;
    width: 50%;
    height: 100%;
    box-shadow: 0 50px 50px#F0F0F0;
    margin-top: 40px;
}

.itema:last-child {
    margin-bottom: 70px;
}

::-webkit-scrollbar {
    display: none;
}

.item {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#title {
    padding-bottom: 5px;
    font-weight: 100;
    font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

#intime {
    font-weight: 100;
    font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.itema {
    height: 180px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid rgba(128, 128, 128, .12);
    color: #000000;
}

.itemLista {
    height: 130px;
    width: 100%;
    color: inherit;
}

.post-item {
    width: 95%;
    margin: 0 auto;
    height: 130px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: inherit;
}

.post-item img {
    border-radius: 5px;
}

.attiveA {
    background: rgba(25, 118, 210, .02);
}

.attiveB {
    border-bottom: 3px solid #145CA4;

}