#left-container {
    position: fixed;
    top: 0;
    width: 25%;
    height: 100vh;
}

#left-container a {
    text-decoration: none;
    color: #000;
}

.name {
    width: 99.5%;
    height: 135px;
    margin-top: 20px;
}

.name:hover {
    background: rgba(25, 118, 210, .02);
    border-right: 2px solid #1976D2;
}

.itemList {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 20px;
}

.itemList li {
    width: 99.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    font-size: 23px;
    margin-bottom: 10px;
    border-right: 2px solid transparent;
    padding: 8px 40px 8px 30px;
    cursor: hand;
    cursor: pointer;
    transition: all .2s linear;
    color: #000;
    margin-bottom: 20px;
    line-height: 30px;
    font-weight: 300;
}

.itemList li:hover {
    background: rgba(25, 118, 210, .02);
    border-right: 2px solid #6CA5DD;
}


.active {
    background: rgba(25, 118, 210, .02);
    border-right: 2px solid #1976D2;
}

.active1 {
    background: rgba(25, 118, 210, .02);
    border-right: 2px solid #6CA5DD;
}